body {
  background-color: #ffffff;
}
span {
  font-size: 1.1em;
  position: center;
  text-align: center;
  top: 0px;
  margin-right: 7px;
  color: #707070;
}
.instructions {
  padding: 100px;
  text-align: center;
  font-size: 25px;
}
