body {
  background-color: #add8e6;
}
.picker {
  display: block;
}
span {
  font-size: 1.1em;
  position: center;
  top: 0px;
  margin-right: 7px;
  display: inline-block;
  color: #707070;
}
.bWrap {
  display: inline-block;
}
.variable {
  display: inline-block;
  left: -100px;
}
.variable2 {
  display: inline-block;
}
input[type="number"] {
  position: relative;
  left: 0px;
  display: block;
  width: 4em;
  color: #707070;
}
.profit {
  display: inline;
  position: relative;
  font-weight: bold;
  left: 26%;
  top: 30px;
  background-color: white;
  border: solid 2px #e6e6e6;
  color: #707070;
  padding: 2px;
}

.text {
  font-size: 15px;
  padding: 10px;
}

.pricing {
  font-size: 18px;
  height: 355px;
  width: 295px;
  display: inline-table;
  background-color: white;
  border: solid 2px #e6e6e6;
  color: #707070;
  padding: 2px;
}

.membership {
  font-size: 18px;
  height: 355px;
  width: 200px;
  display: inline-table;
  background-color: white;
  border: solid 2px #e6e6e6;
  color: #707070;
  padding: 2px;
}

.advertising {
  font-size: 18px;
  height: 355px;
  width: 200px;
  display: inline-table;
  background-color: white;
  border: solid 2px #e6e6e6;
  color: #707070;
  padding: 2px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 13px;
  font-family: sans-serif;
  visibility: hidden;
  width: 200px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent grey transparent transparent;
}

.radioButtons {
  padding: 15px;
  margin-left: 9%;
  display: flex;
}

.pageTitle {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  padding: 15px;
  background-color: white;
  border: solid 2px #e6e6e6;
  display: inline-table;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.simulation {
  display: inline-table;
  width: 51%;
  padding: 15px;
  background-color: #ffffff;
  border-right: none 0px;
  margin-top: 60px;
}

.simulation2 {
  display: inline-table;
  width: 51%;
  padding: 15px;
  background-color: #ffffff;
  margin-top: 60px;
}

.simulation3 {
  display: inline-table;
  width: 51%;
  padding: 10px;
  background-color: #ffffff;
  border-left: solid #add8e6 40px;
}

.button {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 16px;
  font-family: serif;
  transition-duration: 0.4s;
  cursor: pointer;
}

.addPoint {
  background-color: white;
  color: gray;
  border: 2px solid #aed6f1;
}

.addPoint:hover {
  background-color: #aed6f1;
  color: white;
}

.simcontainer {
  background-color: white;
  display: flex;
  margin-left: 10%;
  width: 82%;
}

.animation {
  margin-top: 30px;
  padding: 30px;
  width: auto;
  height: auto;
}
